@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1{
  font-family: "Yeseva One",serif;
}
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-family: "Abril Fatface",serif;
  font-size:25px;
}
.insidecard{
  font-family: "Open Sans",serif;
}

.insidecard a{
  font-family: "Yeseva One",serif;
}